/* valiabe for color ect... */
:root{
    --blue : #B0623E;
}

*{
    font-family:  'vazir' , sans-serif;
}
/* Normalize Css */

html {
line-height: 1.15;
-webkit-text-size-adjust: 100%;
}

body {
margin: 0;

}

main {
display: block;
}

h1 {
font-size: 2em;
margin: 0.67em 0;
}

hr {
box-sizing: content-box;
height: 0;
overflow: visible;
}

pre {
font-family: monospace, monospace;
font-size: 1em;
}

a {
background-color: transparent;
}

abbr[title] {
border-bottom: none;
text-decoration: underline;
text-decoration: underline dotted;
}

b,
strong {
font-weight: bolder;
}

code,
kbd,
samp {
font-family: monospace, monospace;
font-size: 1em;
}

small {
font-size: 80%;
}

sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}

sub {
bottom: -0.25em;
}

sup {
top: -0.5em;
}

img {
border-style: none;
width: 50px;
}

button,
input,
optgroup,
select,
textarea {
font-family: inherit;
font-size: 100%;
line-height: 1.15;
margin: 0;
}

button,
input {
overflow: visible;
}

button,
select {
text-transform: none;
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
border-style: none;
padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
outline: 1px dotted ButtonText;
}

fieldset {
padding: 0.35em 0.75em 0.625em;
}

legend {
box-sizing: border-box;
color: inherit;
display: table;
max-width: 100%;
padding: 0; /* 3 */
white-space: normal;
}

progress {
vertical-align: baseline;
}

textarea {
overflow: auto;
}

[type="checkbox"],
[type="radio"] {
box-sizing: border-box;
padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
height: auto;
}

[type="search"] {
outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

::-webkit-file-upload-button {
-webkit-appearance: button;
font: inherit;
}

details {
display: block;
}

summary {
display: list-item;
}

template {
display: none;
}

[hidden] {
display: none;
}

/* Start Project */

html {
box-sizing: border-box;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

body {
font-family: "TTNorms";
background-color: #193F48;
}

.container {
max-width: 100rem;
margin-right: auto;
margin-left: auto;
padding-right: 1rem;
padding-left: 1rem;
}

.header-top{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1.5rem 0;
}
.nav {
display: flex;
align-items: center;
}
.nav-logo {
margin-right: 2rem;
}

.menu__link {
text-decoration: none;
color: #d8dde7;
padding: 0 1rem;

}
.header__link{
background-color: #0050C8;
padding: 0.8rem 1.5em;
color: #fff;
border-radius: 0.5rem;
text-decoration: none;
}



/* Project Responsive */

@media only screen and (max-width: 1200px) {
.container {
               max-width: 960px;
}
}

@media only screen and (max-width: 992px) {
.container {
               max-width: 720px;
}
}

@media only screen and (max-width: 768px) {
.container {
               max-width: 540px;
}
}

@media only screen and (max-width: 527px) {
.container {
               max-width: 100%;
}
}
body{
    max-width: 100%;
}

/* تا اینجا  ریسپانسیو سازی بود */
.container{
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.header{
                width: 1500px;
               height: 65px;
               display: flex;
               justify-content: space-between;
               background-color: #193F48;
}
.boxbar{
               display: flex;
               justify-content: space-between;
               gap: 32px;
}
.title_page{
               font-size: 17px;
               font-weight: bold;
               

}
.bar{
               display: flex;
               justify-content: space-around;
               gap: 18px;
               margin-top: 14px;

               font-size: 20px;
}
.menu_item{
    text-decoration: none;
    color: #D8BB93;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
}
.contant{
    width: 100px;
    height: 40px;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: #D8BB93;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
   margin-right: 10px;
}
.menu_link{
    list-style: none;
    color: #D8BB93;
}

.menu_item{
    border: none;
    background: transparent;
    padding: 10px 20px ;
    color: #D8BB93 ;
    cursor: pointer;
    font-size: large;
}
.img1{
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 5px;
}
.top{
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.img2 , .img3{
    width: 500px;
    height: 450px;
    
}
.explore{
width: 500px;
height: 500px;
display: flex;
color: #D8BB93;
flex-direction: column;
gap: 12px;
}
.button_top{
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    align-items: flex-start;
}
.left , .right{
width: 140px;
height: 35px;
}
.left{
    background-color: #008080;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #008080;
    font-size: 13px;
    width: 100px;
    height: 40px;
}
.right{
    width: 100px;
    height: 40px;
    background-color: var(--blue);
    color: #fff;
    border-radius: 4px;
    border: 1px solid var(--blue);
    font-size: 13px;
}
.between_explore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.work_title{
    
    margin-bottom: 0px;
    font-size: 45px;
    font-weight: bold;
    color: #CFAF72;
}
.top_title{
    font-size: 55px;
    font-weight: bold;
    color: #D8BB93;
}

.top_title1{
    font-size: 45px;
    font-weight: bold;
    color: #CFAF72;
}
.work_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    color: #DCC18E;
}
.paragraph{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 260px;
    height: 60px;
    margin-top: 30px;
}
.img3{
    margin-top: 80px;
}
.person_comment{
    background-color: #193F48;
    height: 550px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    color: #CFAF72;
}
.explain_person_comment{
 width: 450px;
 text-align: center;
}
.comments{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin-top: 60px;
    gap: 40px;
    
}
.comment{
    display: flex;
    width: 320px;
    flex-direction: column;
    color: #102b31;
    background-color: #dabf8e;
    text-align: justify;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.comment_text{
    font-family: "Times Roman Italic";
    line-height: 1rem;
    font-weight: normal;
    width: 300px;
    height: 120px;
}
.comment_info{
    font-family:"TTNorms Medium" ;
    box-shadow:0px 0px 5px rgb(80, 79, 79) ;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
    width:320px ;
    height: 56px;
    padding-left: 5px;
}
.photo{
    height: 550px;
    display: flex;
    justify-content:space-between;
    text-align: center;
    position: relative;
}

.footer{
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #0b1c20;
    color: #d8dde7;
    justify-content: center;
    align-items: center;
}
.first , .second , .three{
    display: flex;
    flex-direction: column;
    width: 550px;
}
.title{
    display: flex;
    gap: 20px;
}
.box{
    size: 40px;
}
.top{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;

}
.job{
    font-size: 40px;
}
.text , .two{
    font-size: 25px;
}
.paragragh{
    font-size: 40px;
}
.one{
    font-size: 40px;
}
.button{
    border-top: 3px solid  #d8dde7 ;
    height: 500px;
    width: 1400px;
}
.form-container{
    display: flex;
    flex-direction: row;
}
.input{
    border-radius: 4px;
    width: 250px;
    height: 40px;
    border: none;
    background: #CFAF72;
    color: #0b1c20;

}
.button{
    width: 90px;
    height: 40px;
    background: #CFAF72;
    border: none;
}