body {
  margin: 0;
  padding: 0;
  background-color: #193F48;
  font-family: 'Iranian Sans', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: rtl;
}

.container {
  background: #1e4e57;
  padding: 50px 60px;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.35);
  width: 400px;
  text-align: center;
  transition: 0.3s;
}

.container h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

.input-group {
  position: relative;
  margin-bottom: 25px;
}

.input-group input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
}

.input-group i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888;
}

button {
  background-color: #00bfa5;
  color: white;
  border: none;
  padding: 12px 20px;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  transition: background 0.3s;
}

button:hover {
  background-color: #009e88;
}

.count {
  margin-top: 20px;
  font-size: 15px;
  color: #ccc;
}

.success {
  color: #00e676;
  margin-top: 15px;
  font-size: 15px;
}

.back-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #2f5d65;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: background 0.3s;
}

.back-btn:hover {
  background-color: #3b777f;
}